<section id="slcs-skillTab" class="tab {{tab.cssClass}} slcs-sortingTab" data-group="primary" data-tab="skills">
    <h3 id="slcs-skill-title">Categorize Skills</h3>
    <div id="slcs-skill-hint" class="slcs-hint"> Drag and drop to change category</div>
    {{>slcs-traitSorter traits=items.skills type="skills" limitedEditing="true"}}
</section>
