<form class="{{cssClass}}" autocomplete="off">
    <div id="cat-sheet" class="sl-cat-sheet">
        <div id="slcs-header">   
            {{>slcs-portrait}}
            {{>slcs-basic-attributes}}
            {{>slcs-secondary-attributes}}
            {{>slcs-modifierlist}}
        </div>
        <div id="slcs-main">
        </div>
    </div>
</form>
 