<section id="slcs-traitTab" class="tab {{tab.cssClass}} slcs-sortingTab" data-group="primary" data-tab="traits">
    <h3 id="slcs-trait-title">Categorize Advantages / Disadvantage / etc.</h3>
    <div id="slcs-trait-hint" class="slcs-hint"> Drag and drop to change category</div>
    {{>slcs-traitSorter traits=settings.items.traits type="traits"}}
</section>
