<section class="slcs-traitTab tab {{tab.cssClass}} slcs-sortingTab" data-group="primary" data-tab="traits">
    <h3>Categorize Advantages / Disadvantage / etc.</h3>
    {{>slcs-traitSorter traits=traits type="traits"}}
</section>
