<section class="slcs-skillTab tab {{tab.cssClass}} slcs-sortingTab" data-group="primary" data-tab="skills">
    <h3>Categorize Skills</h3>
    {{>slcs-traitSorter traits=skills type="skills"}}
</section>
