<div id='slcs-criticalRolls' class='slcs-block'>
    {{#each criticalTables}}
        <button data-rolltable="{{this}}">{{this}}</button>
    {{else}}
        <div>No Critical Tables found.</div>
    {{/each}}
</div>

