/* ---------------------------- */
/*             Less             */
/* This is your Less entry file */
/* ---------------------------- */

.sl-cat-sheet .window-content {
    height: 100%;
    padding: 5px;
    scroll-behavior: smooth;
    background: white;
    overflow-x: auto;
    overflow-y: clip;
}

.sl-cat-sheet.sheet.actor{
    min-width: 900px;
    min-height: 600px;
}

body.theme-dark .sl-cat-sheet .window-content{
    --slcs-maincolor: var(--color-light-fg);
    --slcs-mainbordercolor: #aaaaaa;
    --slcs-secondarybordercolor: #646464;
    --slcs-inactivecolor: lightgray;
    --slcs-backgroundcolor: var(--color-dark-fg);   
    --slcs-banding-strength: 60%;
}

.sl-cat-sheet .window-content{
    --slcs-maincolor:  var(--color-dark-fg);
    --slcs-backgroundcolor: var(--color-light-fg);
    --slcs-inactivecolor: gray;
    --slcs-mainbordercolor: var(--color-dark-fg);
    --slcs-secondarybordercolor: lightgray;
    --slcs-banding-strength: 40%;

    --slcs-stripeColor: color-mix(in hsl, var(--slcs-backgroundcolor), var(--gcs-color-banding-bg) var(--slcs-banding-strength));
     
    --slcs-sectiongap: 0.3em;
    --slcs-rowmargin: 0.3em;
    --slcs-fontsizecontent: 0.75rem;
    --slcs-fontsizeheader: var(--font-size-12);
    --slcs-rowmarginside: 8px;
    --slcs-notespanmargin: 0.2em;
    --slcs-standardborder: 1px solid var(--slcs-mainbordercolor);
    --slcs-minorborder: 1px solid var(--slcs-secondarybordercolor);
    --slcs-inactiveborder: 1px solid var(--slcs-inactivecolor);
    --slcs-indent: 1rem;

    --slcs-color-roll-bg: var(--gcs-color-roll-bg);
    --slcs-color-roll-bg-hover: color-mix(in hsl, var(--slcs-color-roll-bg), var(--gcs-color-roll-bg-hover) 60%);
    --slcs-color-roll-bg-banding: color-mix(in hsl, var(--slcs-color-roll-bg), var(--gcs-color-banding-bg) var(--slcs-banding-strength));
    --slcs-color-roll-bg-banding-hover: color-mix(in hsl, var(--slcs-color-roll-bg-banding), var(--gcs-color-roll-bg-hover) 60%);

    --slcs-color-positive-bg: var(--gcs-color-positive-bg);
    --slcs-color-positive-bg-hover: color-mix(in hsl, var(--slcs-color-positive-bg), var(--gcs-color-positive-bg-hover) 60%);
    --slcs-color-positive-bg-banding: color-mix(in hsl, var(--slcs-color-positive-bg-banding), var(--gcs-color-banding-bg) var(--slcs-banding-strength));
    --slcs-color-positive-bg-banding-hover: color-mix(in hsl, var(--slcs-color-positive-bg-banding), var(--gcs-color-positive-bg-hover) 60%);

    --slcs-color-negative-bg: var(--gcs-color-negative-bg);
    --slcs-color-negative-bg-hover: color-mix(in hsl, var(--slcs-color-negative-bg), var(--gcs-color-negative-bg-hover) 60%);
    --slcs-color-negative-bg-banding: color-mix(in hsl, var(--slcs-color-negative-bg-banding), var(--gcs-color-banding-bg) var(--slcs-banding-strength));
    --slcs-color-negative-bg-banding-hover: color-mix(in hsl, var(--slcs-color-negative-bg-banding), var(--gcs-color-negative-bg-hover) 60%);

    color: var(--slcs-maincolor);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content max-content 1fr;
    grid-template-areas: 
      "header"
      "navtabs"
      "main";
    background:  var(--slcs-backgroundcolor);
    height: 100%;

    [data-action=rollOtf], [data-action=addModifier]{
        height: auto;
        color: var(--slcs-maincolor);
    }

    .gurpslink, .glinkmodplus, .glinkmodminus {
        border-color: var(--slcs-secondarybordercolor);
        color: var(--slcs-maincolor);
   } 

   .gurpslink, [data-action=rollOtf]{
        background-color: var(--slcs-color-roll-bg);
    }
    .gurpslink:hover, [data-action=rollOtf]:hover{
        background-color: var(--slcs-color-roll-bg-hover);
    }
    .glinkmodplus, .gcs-mod-positive[data-action=addModifier]{
        background-color: var(--slcs-color-positive-bg);
    }
    .glinkmodplus:hover, .gcs-mod-positive[data-action=addModifier]:hover{
        background-color: var(--slcs-color-positive-bg-hover);
    }
    .glinkmodminus, .gcs-mod-negative[data-action=addModifier]{
        background-color: var(--slcs-color-negative-bg);
    }
    .glinkmodminus:hover, .gcs-mod-negative[data-action=addModifier]:hover{
        background-color: var(--slcs-color-negative-bg-hover);
    }

    .even, .odd.evenOuter{
        .gurpslink, &[data-action=rollOtf] {
            background-color: var(--slcs-color-roll-bg-banding);
        }
        .gurpslink:hover, &[data-action=rollOtf]:hover {
            background-color: var(--slcs-color-roll-bg-banding-hover);
        }
        .glinkmodplus, .gcs-mod-positive[data-action=addModifier] {
            background-color: var(--slcs-color-positive-bg-banding);
        }
        .glinkmodplus:hover, .gcs-mod-positive[data-action=addModifier]:hover {
            background-color: var(--slcs-color-positive-bg-banding-hover);
        }
        .glinkmodminus, .gcs-mod-negative[data-action=addModifier] {
            background-color: var(--slcs-color-negative-bg-banding);
        }
        .glinkmodminus:hover, .gcs-mod-negative[data-action=addModifier]:hover {
            background-color: var(--slcs-color-negative-bg-banding-hover);
        }
    }

    .even.evenOuter{
        .gurpslink, &[data-action=rollOtf]{
            background-color: var(--slcs-color-roll-bg);
        }
        .gurpslink:hover, &[data-action=rollOtf]:hover {
            background-color: var(--slcs-color-roll-bg-hover);
        }
        .glinkmodplus, .gcs-mod-positive[data-action=addModifier] {
                background-color: var(--slcs-color-positive-bg);
        }
        .glinkmodplus:hover, .gcs-mod-positive[data-action=addModifier]:hover {
            background-color: var(--slcs-color-positive-bg-hover);
        }
        .glinkmodminus, .gcs-mod-negative[data-action=addModifier] {
            background-color: var(--slcs-color-negative-bg);
        }
        .glinkmodminus:hover, .gcs-mod-negative[data-action=addModifier]:hover {
            background-color: var(--slcs-color-negative-bg-hover);
        }
    }

    .rollable, .gurpslink, .glinkmodplus, .glinkmodminus, .glinkmod, .gmod {
        font-weight: 500;
    }

    select:disabled, input, button {
        color: var(--slcs-maincolor);
    }

    .tab[data-tab]{
        height: 0;
        min-height: 100%;
        grid-area: main;
    }

    .slcs-header{
        grid-area: header;
        display: grid;
        grid-template-columns: 100px 1fr 1fr min-content 3fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "portrait basicattr secattr hpfp modifiers";
        grid-gap: 0px var(--slcs-sectiongap)
    }
    
    .slcs-portrait{
        display: grid;
        grid-area: portrait;
        grid-template-rows: 1fr min-content;
        align-items: center;
        justify-items: center;

        .sharebutton {
            font-size: var(--font-size-11);
            line-height: normal;
            padding: 0;
            margin: 0;
            border: var(--slcs-minorborder);
            border-radius: 0;
        }

        img{
            max-height: 126px;
            margin-top: 3px;
            max-width: 92px;
            border: none;
        }
    }

    .slcs-basic-attributes{
        grid-area: basicattr;
    }

    .slcs-secondary-attributes{
        grid-area: secattr;
    }

    .slcs-table{
        display: grid;
        & > div{
            padding: 0 var(--slcs-rowmarginside);
            border-top: none;
            border-bottom: var(--slcs-minorborder);
            border-right: var(--slcs-minorborder);
            line-height: var(--gcs-input-height);
        }
    }

    .slcs-modifierlist  
    {
        grid-area: modifiers;
        overflow-y: auto;   
        border: var(--slcs-standardborder);
        height: 0;
        min-height: 100%;
        span{
            font-size: var(--slcs-fontsizecontent);
        }
        .slcs-table > div.situation{
            max-height: 3em;
            overflow-y: auto;
            align-items: start;
            padding-top: 2px;
            font-size: var(--font-size-14);
            border: none;
        }
    }

    .slcs-modifierlist > div.slcs-table{
        grid-template-columns: 0fr 1fr;
        grid-template-rows: auto;
        padding: 3px;
    }

    .fieldblock {
        display: grid;
        grid-template-columns: 0fr 1fr;
        align-items: baseline;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    .field.big{
        font-size: var(--font-size-20);
    }
    
    .label.big{
        font-size: var(--font-size-14);
    }

    .doubleField{
        grid-column-end: span 2;
        display: grid;
        grid-template-columns: 0fr 1fr 0fr 1fr;
        align-items: baseline;
        margin-left: 3px;
        .field{
            margin-left: 0;
        }
    }

    .field{
        margin-left: 6px;
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: center;
        border: none;
    }

    .effectmod{
        margin-left: 6px;
        margin-top: 3px;
        border: none;
    }

    .slcs-block {
        border: var(--slcs-standardborder);
    } 

    .slcs-block hr {
        width: 100%;
        border: none;
        background-color: var(--slcs-maincolor);
        height: 1px;
        margin: 0;
        margin-top: 0.2em;
        margin-bottom: 0.1em;
    }
    
    .slcs-sheet-tabs {
        display: block;
        font-size: 110%;
        border-bottom: var(--slcs-standardborder);
        border-top: none;
        line-height: inherit;
        justify-content: normal;
        li {
            display: inline-block;
        }
    }

    .tab-item.active {
        text-decoration: underline;
        text-shadow: none;
        font-weight: bold;
        background-color: var(--slcs-stripeColor);
        color: var(--slcs-maincolor);
    }

    .tab-item {
        line-height: 32px;
        font-weight: normal;
        background: inherit;
        box-shadow: none;
        font-size: inherit;
    }

    .slcs-main-tabs{
        grid-area: navtabs;
        display: grid;
        grid-template-columns: repeat(9, auto);
        grid-gap: 10px;
        padding-left: 10px;
    }
    
    .slcs-col, .col-tabcontent{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: var(--slcs-sectiongap);
        grid-auto-rows: min-content;
    }

    .slcs-col{
        height: 100%;
        overflow-y: auto
    }

    .slcs-tab-content{
        padding-top: var(--slcs-sectiongap);
        display: grid;
        grid-gap: var(--slcs-sectiongap);
        grid-template-columns: 4fr 5fr;
        grid-template-rows:  1fr;
        height: 100%;
    }

    .slcs-otflist{
        padding: 0.2em;
        span{
            display: inline-block;
            margin: var(--slcs-notespanmargin);
            font-size: var(--slcs-fontsizecontent);
        }
    }

    .slcs-combat-tab{
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            'condition condition'
            'col1 col2';
        .slcs-conditions{
            grid-area: condition;
        }
        .slcs-col2{
            overflow-y: unset;
            grid-template-rows: min-content 1fr;    
            .slcs-combatContent{
                height: 0;
                min-height: 100%;
                width: 0;
                min-width: 100%;
                .tab[data-tab]{
                    overflow-y: auto;
                }
            }     
        }   
        nav.slcs-sheet-tabs.slcs-combat-tabs {
            display: grid;
            grid-template-columns: repeat(5, min-content);
            grid-gap: 20px;
            padding-left: 10px;
        } 
    }
    
    .slcs-exploration-tab{
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            'condition condition'
            'col1 col2';
        .slcs-conditions{
            grid-area: condition;
        }  
        .slcs-sense-rolls .fieldblock {
            grid-template-columns: 0fr 1fr 0fr 1fr 0fr 1fr 0fr 1fr;
        }  
    }

    .slcs-powers-tab.slcs-tab-content {
        &.slcs-has-spells{
            grid-template-columns: 1fr 2.2fr;
        }
        grid-template-columns: 1fr 1fr;
    }
    
    .slcs-equipment-tab.slcs-tab-content {
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-auto-rows: min-content;
        overflow-y: auto;
    }

    .slcs-conditions{
        .label {
            display: flex;
            flex-flow: row;
            justify-content: right;
        }
        
        details {
            position: relative;
        }

        .fieldblock {
            display: inline-flex;
            flex-flow: row;
            flex-wrap: wrap;
            grid-template-columns: repeat(4, 0fr auto) 1fr;
            padding-top: 0.15em;
            align-items: center;

            .slcs-hands{
                display: inline-grid;
                grid-template-columns: repeat(2, 0fr auto);
                align-items: center;     
                select {
                    height: 3em;
                    white-space: normal;
                }   
            }

            .field {
                text-align: left;
                margin-left: 0;
                margin-right:0;
                margin-top: 3px;
                min-height: calc(1em + 3px);
            }
            
            .field[name='system.conditions.combatmove'] {
                max-width: 12em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 8px;
            }
    
            select {
                max-width: 10em;
                font-size: 90%;
            }
            details {
                border: none;
                height: 100%;
                align-self: end;

                .button {
                    width: 2rem;
                    height: 2rem;
                    border: none;
                }
            }
            
            details > summary {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    .slcs-item-table {
        display: grid;
        align-content: start;
        gap: 0px 0px;
        & > div.gcs-item-row {
            padding-right: var(--slcs-rowmargin);
            &.indent0 {
                padding-left: var(--slcs-rowmargin);
            } 
            .gcs-container-spacer {
                padding-left: 4px;
            }    
        }
        & > div{
            border-top: none;
            border-bottom: var(--slcs-minorborder);
            border-right: var(--slcs-minorborder);
            padding: 0 var(--slcs-rowmarginside) 0 var(--slcs-rowmarginside);
            &.indent0 {
                padding-left: var(--slcs-rowmarginside);
            } 
            &.indent1{
                padding-left: calc(1 * var(--slcs-indent));
            }  
            &.indent2{
                padding-left: calc(2 * var(--slcs-indent));
            }  
            &.indent3{
                padding-left: calc(3 * var(--slcs-indent));
            }  
            &.indent4{
                padding-left: calc(4 * var(--slcs-indent));
            }  
            &.indent5{
                padding-left: calc(5 * var(--slcs-indent));
            }  
            &.indent6{
                padding-left: calc(6 * var(--slcs-indent));
            }  
            &.indent7{
                padding-left: calc(7 * var(--slcs-indent));
            }  
            &.indent8{
                padding-left: calc(8 * var(--slcs-indent));
            }  
            &.indent9{
                padding-left: calc(9 * var(--slcs-indent));
            }   
        }
        .header {
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            font-size: var(--slcs-fontsizeheader);
            font-weight: bold;
        }
        .gcs-notes-toggle {
            cursor: pointer;
            opacity: 0.5;
            font-size: 0.75em;
        }
        .gcs-container-toggle[data-open=false] {
            transform: rotate(-90deg);
        }
        .desc {
            display: grid;
            grid-template-columns: min-content 1fr min-content;
            padding-right: 0;
            align-items: center;
            min-height: var(--gcs-input-height);
        }
        .desc.header {
            display: block;
            min-height: auto;
        }
        .list_note{
            max-width: 100%;
            white-space: normal;
            span{
                margin: var(--slcs-notespanmargin);
                white-space: nowrap;
                font-size: var(--slcs-fontsizecontent);
            }
        }
    }

    .slcs-skills{
        grid-template-columns: 1fr repeat(3, auto);
        .list_note{
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .sl, .rsl{
                padding-left: calc(2 * var(--slcs-rowmarginside));
                padding-right: calc(2 * var(--slcs-rowmarginside));
        }
        details.skill-name{
            summary{
                display: grid;
                grid-template-columns: 1fr min-content;
                list-style: none;
                align-items: center;
                &.has-additional-rolls {
                    cursor: pointer;
                }
                i {
                    opacity: 0.5;
                    font-size: 0.75em;
                }
            }
            .skill-details span.gga-app.gurpslink {
                width: 100%;
                font-weight: inherit;
                padding: var(--slcs-rowmargin);
                border-radius: 0;
                border-top: var(--slcs-minorborder);
                border-bottom: none;
                border-left: none;
                border-right: none;
            }
        }
    }

    .slcs-traits{
        grid-template-columns: 1fr min-content;
        .list_note{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    .slcs-spells{
        grid-template-columns: 1fr repeat(8, min-content);
        .list_note{
            grid-column-start: 1;
            grid-column-end: 9;
        }
        .mana, .mana_maintain, .time, .duration {
            font-size: var(--slcs-fontsizecontent);
            .header {
                font-size: var(--slcs-fontsizeheader);
            }
        }
    };

    .slcs-equipmentcarried {
        grid-template-columns: auto auto 1fr repeat(6, auto);
        .list_note{
            grid-column-start: 1;
            grid-column-end: 10;
        }
    }

    .slcs-equipmentother {
        grid-template-columns: auto 1fr repeat(6, auto);
        .list_note{
            grid-column-start: 1;
            grid-column-end: 9;
        }
    }

    .slcs-melee-attacks{
        align-self: start;
        grid-template-columns: 1fr minmax(min-content, 1fr) repeat(3, auto);
        grid-template-rows: 0fr max-content;
        .level{
            padding: 0.1em calc(2 * var(--slcs-rowmarginside)) 0.1em calc(2 * var(--slcs-rowmarginside));
        }
        .list_note{
            grid-column-start: 1;
            grid-column-end: 6;
         }
    }

    .slcs-ranged-attacks{
        align-self: start;
        grid-template-columns: 1fr repeat(9, auto);
        grid-template-rows: 0fr max-content;
        min-width: 100%;
        .list_note{
            grid-column-start: 1;
            grid-column-end: 11;
        }
        & > div {
            width: min-content;
            white-space: normal;
            min-width: 100%;
            padding: 0 0.3em;
        }
    }

    .slcs-melee-attacks, .slcs-ranged-attacks{
        --cell-padding: 0.1em var(--slcs-rowmargin) 0.1em var(--slcs-rowmargin);
        .weapon {
            padding-right: var(--slcs-rowmarginside);
        }
        .desc {
            grid-template-columns: 1fr min-content;
            white-space: normal;
        }
        color: var(--slcs-inactivecolor);
        div[data-action=rollOtf], .gmod{
            color: var(--slcs-inactivecolor);
        }
        .selected, div[data-action=rollOtf].selected, .gmod.selected, .selected div[data-action=rollOtf]{
            color: var(--slcs-maincolor);
        }
        .usage{
            display: block;
            max-width: none;
            white-space: normal;
        }
        & > div {
            height: auto;
        }
        & > div.weapon {
            border-bottom: none;
        }
        & > div.weapon.last, div.weapon.header {
            border-bottom: var(--slcs-minorborder);
        }
    }

    .slcs-speed-range-table{
         .slcs-range-table {
            display: grid;
            border: var(--slcs-minorborder);
            align-content: stretch;
            grid-template-columns: 3fr repeat(var(--count), 1fr);
            grid-template-rows: 0fr 0fr;
            .label {
                text-align: end;
                border-right: var(--slcs-minorborder);
                border-bottom: var(--slcs-minorborder);
            }
        }
    }

    .slcs-defenses{
        border: none;
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: var(--slcs-sectiongap);
        .defense-main {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: none;
            grid-auto-columns: 1fr;
            gap: var(--slcs-sectiongap);
        }
        .group{
            border: 1px solid var(--slcs-inactivecolor);
            color: var(--slcs-inactivecolor);
            .rollable{
                color: var(--slcs-inactivecolor);
            }
             height: 100%;
            .field{
                min-width: 3em;
            }
        }
        .group.selected{
            color: var(--slcs-maincolor);
            border-color: var(--slcs-mainbordercolor);
            .rollable{
                color: var(--slcs-maincolor);
            }
        }
        .label{
            text-align: center;
            white-space: normal;
            word-spacing: 100000px;
        }
    }

    .slcs-combat-trackers {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr min-content;  
        .slcs-tracker-scroller {
            display: flex;
            flex-flow: row wrap;
            gap: var(--slcs-sectiongap);
            .tracked-resource {
                width: min-content;
            }
        }
    }

    .slcs-pool-attribute{
        display: grid;
        grid-template-rows: 0fr auto;
        border: var(--slcs-standardborder); 
        .slcs-pool-header{
            min-height: 1.4rem;
            justify-content: space-evenly;
            display: flex;
        }
        .slcs-content{
            display: grid;
            font-size: var(--slcs-fontsizecontent);
            padding: 0 0.3rem;
            gap: 0.2rem;
            .slcs-pool-control{
                display: grid;
                grid-template-columns: min-content min-content min-content min-content;
                button{
                    padding: 0 0.25rem;
                    font: inherit;
                    height: var(--gcs-input-height);
                    min-height: 0;
                    background-color: var(--gcs-color-control-bg);
                    border: 1px solid var(--gcs-color-input-border);
                }
                input{
                    border:1px solid var(--gcs-color-input-border);
                    height: var(--gcs-input-height);
                    min-height: 0;
                    background-color: var(--gcs-color-input-bg);
                    border-radius: 0;
                }
                input, span {
                    min-width: 6ch;
                }
                button[data-action=incrementPool] {
                    border-radius: 0;
                }
                button[data-action=resetPool] {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                button[data-action=decrementPool] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }  
                button:disabled{
                    background-color: transparent;
                    color: 
                    color-mix(in hsl, var(--slcs-maincolor), var(--slcs-backgroundcolor) 50%);
                    cursor: not-allowed;
                }
            }
            .form-fields{
                height: auto;
            }
            .pool-state {
                white-space: nowrap;
                text-align: center;
                padding: 0.1rem;
                min-height: 1.2rem;
                border: var(--slcs-minorborder);
                margin: 0.2rem 0;
            }
        }
    }

    .slcs-hpfp{
        display: grid;
        grid-template-columns: min-content;
        gap: var(--slcs-sectiongap);
     }

    .slcs-DR, .slcs-location {
        display: grid;
        grid-template-columns: repeat(3, 1fr max-content);
        .dr{
            margin-right: var(--slcs-rowmarginside);
        }
    }

    .slcs-target {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: var(--slcs-sectiongap);
        grid-auto-rows: min-content;
    }

    .slcs-lifting {
        grid-template:
            'header header'
            'desc lift';
        grid-template-columns: max-content 1fr;
        grid-template-rows: 0fr;
        .liftdesc {
            font-size: inherit;
        }
    }

    .slcs-reactions {
        grid-template-columns: 0fr 1fr;
    }

    .slcs-description {
        display: grid;
        grid-template:
             'block1 block2 block3';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        border: var(--slcs-standardborder);
        .header {
            grid-area: header;
        }
        .slcs-table{
            border-right: var(--slcs-standardborder);
            grid-template-columns: 0fr 1fr;
            grid-template-rows: repeat(4, min-content);
        }
        .slcs-table.hairEyesSkinHandBlock{
            border-right: none;
        }
        .slcs-table > div{
            min-height: 1.4em;
        }
    }

    .slcs-reaction-roll {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: min-content min-content;
        grid-template-areas: 
            "empty1 buttonArea empty2"
            "otf otf otf";
        justify-content: center;
        padding-top: var(--slcs-sectiongap);
        button{
            grid-area: buttonArea;
        }
        .slcs-missing-table{
            grid-area: buttonArea;
            white-space: nowrap;
        }
        .slcs-reactionOTFs{
            grid-area: otf;
        }
    }

    .slcs-criticalRolls {
        display: grid;
        grid-template-columns: 0.5fr;
        justify-content: center;
        padding-top: var(--slcs-sectiongap);
        padding-bottom: var(--slcs-sectiongap);
        gap:  var(--slcs-sectiongap);
    }

    .qnotes {
        padding: var(--slcs-sectiongap);
        .qnotes-header {
            display: grid;
            grid-template-columns: 1fr min-content;
        }
        .qnotes-content {
            margin-top: var(--slcs-sectiongap);
            font-size: var(--slcs-fontsizecontent);
            span{
                display: inline-block;
                margin: var(--slcs-notespanmargin);
                font-size: var(--slcs-fontsizecontent);
            }
        }
    }
}

.application .slcs-form {
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content 1fr min-content;
    gap: 0.3em;
    padding: 0.8em;

    .tab{
        gap: 0.3em;
        border: none;
    }

    input[type="text"].slcs-input {
        height: 100%;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .label{
        height: min-content;
    }

    h3{
        font-family: var(--font-primary);
        font-size: var(--font-size-16);
        color: var(--color-text-primary);
        text-shadow: none;
        border: none;
        margin-bottom: 0;
        margin-top: 0.5em;
        text-align: center;
    }
    
    .slcs-hint{
        font-size: var(--font-size-10);
        text-align: center;
    }
    
    .navigation {
        display: grid;
        padding-bottom: 0.5em;
        border-bottom: var(--slcs-standardborder);
    }

    nav.tabs{
        gap: 3em;
        border: none;
    }

    .form-footer{
        flex-direction: row-reverse;
        button{
            max-width: fit-content;
        }
    }
}

.slcs-settingsForm, .slcs-actorSettingsForm{
    --color-text-primary: var(--color-dark-2);
 
    .slcs-settingsBlock{
        display: grid;
        padding-top: var(--slcs-sectiongap);
        padding-bottom: var(--slcs-sectiongap);
        gap: var(--slcs-sectiongap);
        align-items: center;
        .label {
            min-width: 200px;
            white-space: normal;
            text-align: right;
        } 
        input[type="number"]{
            min-width: 50px;
        }
    }

    .slcs-settingsBlock.single{
        grid-template-columns: 0fr 1fr;
    }
    
    .slcs-settingsBlock.double{
        grid-template-columns: 0fr 0fr 0fr 1fr;
    }

    .item-row {
        display: grid;
        grid-template-columns: 1fr 0fr;
        grid-auto-rows: min-content;
        gap: 0.2em;
        padding-right: 0.1em;
    }
    
    .slcs-header {
        display: grid;
        grid-template-columns: 1fr 0fr;
        grid-auto-rows: min-content;
        gap: 0.2em;
        padding-right: 0.9em;
        padding-bottom: 0.3em;
    
        .slcs-label{
        padding-top: 0.3em;
        padding-bottom: 0.3em;   
        }   
    }
    
    button.slcs-icon-button {
        height: auto;
        padding: 0 0.3em;
        i {
            margin: 0;
        }
    }

    section.slcs-sortingTab {
        height: 100%;

        .sortingArea {
            display: grid;
            height: 100%;
            padding-top: var(--slcs-sectiongap);
            padding-bottom: var(--slcs-sectiongap);
            gap: var(--slcs-sectiongap);
        }

        
        .slcs-trait-container {
            min-height: 100%;
            height: 0;
            display: grid;
            grid-template-rows: 0fr 1fr;
            
            .slcs-trait-list {
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: min-content;
                overflow-y: auto;
                position: relative;
                gap: 0.2em;
            }
        }
    }

    .slcs-generalTab.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        .slcs-emptyHandWeapons{
            grid-template-columns: 1fr 1fr 0fr;
            width: 100%;
            margin-top: 0.3em;
        }
    }

    .slcs-OFTTab.active {
        height: 100%;
        display: grid;
        grid-template-rows: 0fr 0fr 1fr;
        .OTF-config.slcs-table {
            grid-template-columns: 0fr 0fr 1fr 0fr 0fr 0fr 0fr 0fr 0fr;
            overflow-y: auto;
            width: 0;
            min-width: 100%;
            height: 0;
            min-height: 100%;
        }
        .OTF-config > div.header {
            padding: 0 0.3em 0 0.3em; 
        }
        .OTF-config > div {
            white-space: normal;
            padding: 0;
            .slcs-input {
                border-radius: 0;
            }
            textarea{
                width: 7em;
                min-height: 0px;
                border: 0;
                padding: 0.3em;
            }
            textarea:read-only{
                color:black;
                border: 0;
            }
            select{
                width: 7em;
            }
            multi-select{
                width: 12em;
                .tags.input-element-tags{
                    justify-content: flex-start;
                    .tag{
                        border: none;
                    }
                }
            }
            multi-select:disabled select:disabled {
                display: none;
            }
        }
        .OTF-config > div.code {
            textarea{
                width:100%;
            }
        }
        .OTF-region .slcs-input {
            width: 6em;
        }
    }
}
    
.slcs-settingsForm{
    section.slcs-sortingTab {

        .sortingArea {
            grid-template-columns: repeat(6, 1fr);
        }            
    }
}

.slcs-actorSettingsForm{
    section.slcs-sortingTab {

        .sortingArea {
            grid-template-columns: repeat(7, 1fr);
        }            
    }
}
