/* ---------------------------- */
/*             Less             */
/* This is your Less entry file */
/* ---------------------------- */

#cat-sheet{
    --sectiongap: 0.3em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px max-content auto;
    grid-template-areas: 
      "header"
      "navtabs"
      "main";
    background: white;


    #slcs-header{
        grid-area: header;
        display: grid;
        grid-template-columns: 100px 1fr 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "portrait basicattr secattr modifiers";
        grid-gap: 0px 3px
    }
    
    #slcs-header > div{
        max-height: 150px;
    }

    #slcs-main{
        grid-area: main;
    }

    #slcs-portrait{
        display: grid;
        grid-area: portrait;
        grid-template-rows: 1fr min-content;
        align-items: center;
        justify-items: center;

        .sharebutton {
            font-size: var(--font-size-11);
            line-height: normal;
            padding: 0;
            margin: 0;
            border: 1px solid #b5b3a2;
            border-radius: 0;
        }

        img{
            max-height: 126px;
            margin-top: 3px;
            max-width: 92px;
            border: none;
        }
    }

    #slsc-basic-attributes{
        grid-area: basicattr;
    }

    #slsc-secondary-attributes{
        grid-area: secattr;
    }

    .gga-table{
        border: none;
    }

    #slcs-modifierlist > 
    {
        grid-area: modifiers;
        overflow-y: auto;   
        border: var(--standardborder);
    }

    #slcs-modifierlist > div.gga-table{
        grid-template-columns: 0fr 1fr;
        grid-template-rows: auto;
        gap: 6px;
        padding: 6px;
    }

    .fieldblock {
        display: grid;
        grid-template-columns: 0fr 1fr;
        align-items: baseline;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    .field.big{
        font-size: var(--font-size-20);
    }

    .field{
        margin-left: 6px;
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: center;
        border: none;
    }

    .effectmod{
        margin-left: 6px;
        margin-top: 6px;
        margin-bottom: 6px;
        border: none;
    }

    .block {
        border: var(--standardborder);
    } 

    .block hr {
        width: 100%;
        border: none;
        background-color: black;
        height: 1px;
        margin: 0;
        margin-top: 0.2em;
        margin-bottom: 0.1em;
    }

    .gga-table > div.situation{
        max-height: 3em;
        overflow-y: auto;
        align-items: start;
        padding-top: 2px;
        font-size: var(--font-size-14);
    }

    .slcs-sheet-tabs {
        display: block;
        font-size: 110%;
        height: 32px;
        border-bottom: 1px solid #333;
        flex-grow: 0;
    
        li {
            display: inline-block;
            margin: 0 10px 0 10px;
        }
    }

    .tab-item.active {
        text-decoration: underline;
        text-shadow: none;
        font-weight: bold;
        background-color: #e8ffe8;
        font-size: 105%;
    }

    .tab-item {
        line-height: 32px;
        font-weight: normal;
    }

    #slcs-navtabs{
        grid-area: navtabs;
    }

    #slcs-combat-tab{
        padding-top: var(--sectiongap);
        display: grid;
        grid-gap: var(--sectiongap);
        grid-template-columns: 1fr 1fr min-content;
        grid-template-rows: 0fr auto auto 1fr;
        grid-template-areas:
            'condition condition combat-sidebar'
            'skills attacks combat-sidebar'
            'traits xxx combat-sidebar'
            'null null combat-sidebar';
    }
    
    #slcs-exploration-tab{
        padding-top: var(--sectiongap);
        display: grid;
        grid-gap: var(--sectiongap);
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'skills null'
            'skills null'
            'traits null';
    }

    #slcs-social-tab{
        padding-top: var(--sectiongap);
        display: grid;
        grid-gap: var(--sectiongap);
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'skills null'
            'skills null'
            'traits null';
    }
    
    #slcs-technical-tab{
        padding-top: var(--sectiongap);
        display: grid;
        grid-gap: var(--sectiongap);
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'skills null'
            'skills null'
            'traits null';
    }

    #slcs-powers-tab{
        padding-top: var(--sectiongap);
        display: grid;
        grid-gap: var(--sectiongap);
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'skills null'
            'skills null'
            'traits null';
    }

    #slcs-conditions{
        grid-area: condition;
        .label {
            display: flex;
            flex-flow: row;
            justify-content: right;
        }
        
        details {
            position: relative;
        }

        .fieldblock {
            display: inline-grid;
            grid-template-columns: 0fr auto 0fr auto 0fr auto 0fr auto 0fr auto;
            padding-top: 0.15em;
            align-items: center;

            .field {
                text-align: left;
                margin-top: 3px;
                min-height: calc(1em + 3px);
            }
            
            .field[name='system.conditions.combatmove'] {
                max-width: 12em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 8px;
            }
    
            details {
                border: none;
                height: 100%;
                align-self: end;

                .button {
                    width: 2rem;
                    height: 2rem;
                    border: none;
                }
            }
            
            details > summary {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    #slcs-skills{
        --rowmargin: 0.2em;
        grid-area: skills;
        grid-template-columns: 1fr repeat(3, auto);
        align-content: start;
        max-height: 300px;
        overflow-y: auto;
        .tooltip.gga-manual{
            border: none;
        }    
        gap: 0px 0px;
        .skldraggable:before{
            content: none;
        }
        .skldraggable{
            padding: var(--rowmargin) 0 var(--rowmargin) var(--rowmargin);
        }
        .gga-desc-text{
            padding: 0 var(--rowmargin) 0 var(--rowmargin);
        }
        .list_note{
            padding: 0 var(--rowmargin) 0 var(--rowmargin);
            grid-column-start: 1;
            grid-column-end: 5;
            max-width: 100%;
            white-space: normal;
            span{
                margin: 0 var(--rowmargin) 0 var(--rowmargin)
            }
        }
        .sl, .rsl{
            padding: var(--rowmargin) 0 var(--rowmargin) 0;
            .rollable {
                width: 100%
            }
        }
        .odd{
            background-color: #e8ffe8;
        }
    }

    #slcs-skills > div{
        border-bottom: none;
        border-top: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
    }

    #slcs-attacks{
        grid-area: attacks;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content;
        gap: var(--sectiongap);

        #slcs-melee-attacks{
            align-self: start;
            grid-template-columns: 1fr repeat(4, auto);
            grid-template-rows: 0fr max-content;
            .meleedraggable:before{
                content: none;
            }
            .list_note{
                grid-column-start: 1;
                grid-column-end: 6;
                max-width: 100%;
                white-space: normal;
            }
        }

        #slcs-ranged-attacks{
            align-self: start;
            grid-template-columns: 1fr repeat(9, auto);
            grid-template-rows: 0fr max-content;
            .rangeddraggable:before{
                content: none;
            }
            .list_note{
                grid-column-start: 1;
                grid-column-end: 11;
                max-width: 100%;
                white-space: normal;
            }
        }
        #speed-range-table{
            grid-area: unset;
        }
    }
}

